.header {
    .jumbotron {
        background-image: url("../../assets/images/header-edited.png");
        background-size: cover;
        margin-bottom: 0px;
        height: 85%;
    }
    .jumbotron {
        span {
            padding-top: 2px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 2px;
            background-color: white;
        }
    }
}

.body {
    $black: #373D49;
    $light-blue: #90AFC5;
    $text-white: #F2F1EF;
    $club-day-booth-image: url("../../assets/images/booth.jpg");
    $robotics-team-sketch: url("../../assets/images/robot-board.jpg");
    $machine-learning-lecture-image: url("../../assets/images/lecture.jpg");
    
    .about-us {
        color: $text-white;
        background-color: $light-blue;
    }
    .about-us {
        h3 {
            margin-top: 30px;
        }
        blockquote {
            border-left: none;
        }
    }
    .info-box {
        blockquote {
            margin: 30px;
            padding: 30px;
            border-left: none;
        }
        .col-md-6 {
            height: 400px;
        }
        .photo {
            background-size: cover;
        }
        #image-box-1 {
            background-image: $club-day-booth-image;
        }
        #image-box-2 {
            background-image: $robotics-team-sketch;
        }
        #image-box-3 {
            background-image: $machine-learning-lecture-image;
        }
    }
}